@model Doctores

<h1>
    Details
</h1>

<p>
    <a asp-action="Index" asp-controller="Doctores">Back to Home</a>
</p>

<ul>
    <li>Id Hospital: @Model.IdHospital</li>
    <li>Id Doctor: @Model.IdDoctor</li>
    <li>Id Apellido: @Model.Apellido</li>
    <li>Id Especialidad: @Model.Especialidad</li>
    <li>Id Salario: @Model.Salario</li>
</ul>